<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  {% load i18n %}
  <link rel="shortcut icon" type="image/png" href="{% static 'hoosactive/images/ha.png' %}"/>
  <title>HoosActive</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootstap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'hoosactive/style.css' %}">
  <!-- Custom JS -->
  <script src="{% static 'hoosactive/script.js' %}"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Google Charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<nav class="b12-navbar">
  <a style="width: 200px;" href="{% url 'hoosactive:index' %}">
    <div style="display: flex; align-items: center; justify-content: center;">
      <img style="max-width: 100%; max-height: 80px;" src="{% static 'hoosactive/images/hoosactive_logo.png' %}" alt="">
    </div>
  </a>
  <div class="b12-navbar-links">
    {% if user.is_authenticated %}
    <a class="b12-nav-item" href="{% url 'hoosactive:profile' user.username %}">
      <div><div>Profile</div></div>
    </a><a class="b12-nav-item" href="{% url 'hoosactive:leaderboard' %}">
      <div><div>Leaderboard</div></div>
    </a>
    <!-- Sign Out with Modal confirmation. -->
    <button id="SignOutNavBtn" class="b12-nav-item" style="background-color: transparent; border-color: transparent;" class="btn btn-primary" data-toggle="modal" data-target="#SignOutModal">Sign Out</button>
    {% else %}
    <div class="b12-nav-item blank"></div>
    <div class="b12-nav-item blank"></div>
    <a class="b12-nav-item" href="{% url 'hoosactive:login' %}"><div>Register/Sign In</div></a>
    {% endif %}
  </div>
</nav>

{% block content %}{% endblock %}

<!-- Sign Out Modal -->
<div id="SignOutModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-dark text-left">Are you sure you want to sign out?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button class="btn btn-primary">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<footer></footer>
<!-- Bootstrap popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
