{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}


<body style="background-color: #EEEEEE;">
	<div class="container h-100 mt-3 mb-3"style="background-color: #EEEEEE;">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h2 class="mt-1" style="color: #FFF; text-align: center; margin-bottom: 0 !important; font-size: 20px;">{% if user.profile %}EDIT PROFILE{% else %}CREATE PROFILE{% endif%}</h2>
				</div>
				<div class="d-flex justify-content-center mb-3" style="margin-top: 20px;">

					<form method="POST" action="">
						{% csrf_token %}
						<h1 style="color: white">Enter Bio:</h1>
						<div class="input-group mb-2">
							{{form.bio_text}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.age}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.height_feet}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.height_inches}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.weight_lbs}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"></span>
							</div>
							{{form.city}}
							{{form.state}}
						</div>
						<div class="input-group mb-2">
							<div class="container">
								<div class="row">
									<div class="input-group-append col-9">
										<p style="color: white;">Make your stats public?</p>
									</div>
									<div class="col-3">
										{{form.show_stats}}
									</div>
								</div>
							</div>
						</div>
						<div class="input-group mb-2">
							<div class="container">
								<div class="row">
									<div class="input-group-append col-9">
										<p style="color: white;">Receive email notifications?</p>
									</div>
									<div class="col-3">
										{{form.receive_notifications}}
									</div>
								</div>
							</div>
						</div>
				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="{% if user.profile %}Save Changes{% else %}Create Profile{% endif%}">
				   		</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<script>
	var form_fields = document.getElementsByTagName('input')
	var prof = '{{user.profile}}'
	if (prof) {
		document.getElementById('id_bio_text').defaultValue='{{user.profile.bio_text}}';
		form_fields[1].defaultValue='{{user.profile.age}}';
		form_fields[2].defaultValue='{{user.profile.height_feet}}';
		form_fields[3].defaultValue='{{user.profile.height_inches}}';
		form_fields[4].defaultValue='{{user.profile.weight_lbs}}';
		form_fields[5].defaultValue='{{user.profile.city}}';
		document.querySelector("option[value='{{user.profile.state}}']").selected = true;
		if ('{{user.profile.show_stats}}'=='True') {form_fields[7].checked = true;}
		else {form_fields[6].checked = false;}
		if ('{{user.profile.receive_notifications}}'=='True') {form_fields[8].checked = true;}
		else {form_fields[7].checked = false;}
	}
	form_fields[1].placeholder='Age...';
	form_fields[2].placeholder='Height (ft)...';
	form_fields[3].placeholder='Height (inches)...';
	form_fields[4].placeholder='Weight (lbs)...';
	form_fields[5].placeholder='City...';

	for (var field in form_fields) {
      form_fields[field].className += ' form-control'
    }
</script>
</body>

{% endblock %}
