{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}

<div class="row no-gutters">
    <div class="col">
        <form class="m-4" action="{% url 'hoosactive:search' %}" method="GET">
            <button class="p-1 pb-3 btn btn-outline-none" type="submit"><i class="bi bi-search"></i></button>
            <input class="col-8" style="font-size: 18px;" type="text" placeholder="Search Username..." name="search_profile">
            {% if error_message %}
            <p style="color: red;" class="ml-5 pl-2">NO USER FOUND</p>
            {% endif %}
        </form>
    </div>

    {% if show_requests is True %}
    <div class="col">
        <button style="font-size: 18px; float: right;" class="col-5 mt-2 mx-5 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#FriendRequestsModal">
          Friend Requests
          {% if request_count > 0 %}
          <span class="badge badge-success">{{request_count}}</span>
          {% endif %}
        </button>
    </div>
    {% endif %}
</div>

<div class="mx-auto col-8">
  <div style="text-align: center; margin-bottom: 20px;" class="h1 font-weight-bold">Friends</div>
  {% for friend in friends_list %}
  <a href="/profile/{{ friend.username }}/" style="text-decoration: none !important; width: 100%;">
    <button class="btn-light m-2 row p-3" style="width: 100%; border-color: transparent; outline: none; border-radius: 12px;">
        <div style="border-radius: 50%; width: 75px; height: 75px; overflow: hidden;">
          <img src="{{friend.profile.profile_pic.url}}" width=75>
        </div>
        <p style="font-size: 20px" class="col mx-auto my-auto">{{ friend.username }}</p>
        <p style="font-size: 20px" class="col mx-auto my-auto">{{ friend.profile.city }}, {{ friend.profile.state }}</p>
    </button>
  </a>
  {% endfor %}
</div>


<!-- Friend Request Modal -->
<div id="FriendRequestsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Friend Requests</h5>
        </div>
        <div>
            <!-- Example Friend Request -->
            {% for usr in request_list %}
            <div class="mx-auto m-2 row col-8 p-3" style="border-color: transparent; outline: none; border-radius: 12px;">
                <div style="border-radius: 50%; width: 50px; height: 50px; overflow: hidden; text-align: center;">
                  <img src="{{usr.profile.profile_pic.url}}" width=50>
                </div>
                <p style="font-size: 14px" class="col mx-auto my-auto">{{ usr.username }}</p>
                <div style="font-size: 28px" class="col mx-auto my-auto">
                    <a href="/profile/{{ user.username }}/request-respond/{{ usr.username }}/accept/" style="color: green" class="bi bi-check-circle-fill"></a>
                    <a href="/profile/{{ user.username }}/request-respond/{{ usr.username }}/reject/" style="color: red" class="bi bi-x-circle-fill"></a>
                </div>
            </div>
            {% endfor %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
