{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}

<div style="overflow: hidden; height: 700px;">
  <div style="position: absolute; height: 700px; width: 100%;">
    <div style="overflow: hidden; position: relative; height: 700px; width: 100%;">
      <div style="position: absolute;" class = "triangle-up rectangle"></div>
    </div>
  </div>
  <div style="position: absolute; width: 100%;">
    <div class="index-trophies"><img src="{% static 'hoosactive/images/trophies.png' %}" alt=""></div>
    <div class="index-content">
      <div style="width: 58.333333%;">
        <div>
          {% if user.is_authenticated %}

          {% if user.first_name %}
          <div class="text-white h1">Welcome, {{ user.first_name }}!</div>
          {% else %}
          <div class="text-white h1">Welcome, {{ user.username }}!</div>
          {% endif %}

          {% if user.profile %}
          <!-- Button meant to open Modal to adding exercise. -->
          <button style="font-size: 25px; width: 100%;" class="bi bi-plus-circle mt-5 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#AddExerciseModal"> ADD EXERCISE </button>
          {% else %}
          <a href="/profile/{{ request.user.username }}/create/">
            <button style="font-size: 25px; width: 100%;" class="bi bi-plus-circle mt-5 p-3 btn btn-outline-primary font-weight-bold"> ADD EXERCISE </button>
          </a>
          <!-- Modal in base.html -->
          {% endif %}

          {% if user.profile %}
          <!-- Button meant to direct to workout scheduler. -->
          <button style="font-size: 25px; width: 100%;" class="bi bi-calendar-date mt-4 mb-3 p-3 btn btn-outline-primary font-weight-bold" data-toggle="modal" data-target="#ScheduleWorkoutModal"> SCHEDULE WORKOUT </button>
          {% else %}
          <a href="/profile/{{ request.user.username }}/create/">
            <button style="font-size: 25px; width: 100%;" class="bi bi-calendar-date mt-4 mb-3 p-3 btn btn-outline-primary font-weight-bold"> SCHEDULE WORKOUT </button>
          </a>
          <!-- Modal in base.html -->
          {% endif %}
          <!-- This table is meant to have the user's 5 soonest upcoming scheduled workouts. If you click on one, you can edit it. -->
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">Upcoming Workout</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              {% for workout in workout_list %}
              <tr>
                <td>{{ workout.desc }}</td>
                <td>{{ workout.date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ workout.date|date:"g" }}:{{ workout.date|date:"i" }} {{ workout.date|date:"A" }}</td>
              </tr>
              {% endfor %}
              {% for blank in workout_blank %}
              <tr>
                <td>⠀</td>
                <td>⠀</td>
                <td>⠀</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div style="position: absolute; margin: 100px 25px 0px 50px;" class="text-white h1">Sign up today to see Hoos Active!</div>
          <a style="position: absolute; margin: 300px 25px 0px 100px;" class="btn btn-secondary" href="{% url 'hoosactive:login' %}">SIGN UP FOR HOOSACTIVE</a>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Add Exercise Modal -->
<div id="AddExerciseModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Exercise</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'hoosactive:log_exercise' redirect %}" method="post">
          {% csrf_token %}
          <select id="drop" name="drop" class="form-control" onchange="updateEntryModal()" required>
            <option value="" selected disabled>Select Exercise Type</option>
            {% for exercise in exercise_list %}
            <option value="{{ exercise.name }}" data-type="{{ exercise.type }}">{{ exercise.name }}</option>
            {% endfor %}
            <option value="" disabled>Recent Entries</option>
            {% for entry in recent_entries %}
            <option value="{{ entry.exercise.name }}" data-duration="{{ entry.duration_hours }}" data-calories="{{ entry.calories }}" data-type="{{ entry.exercise.type }}" data-extra="{{ entry.extra }}">{{ entry.exercise }} on {{ entry.date }}</option>
            {% endfor %}
          </select>
          <label for="date">Timestamp</label>
          <input class="my-2 form-control" type="datetime-local" name="date" id="date" required>
          <label for="duration">Duration (hrs)</label>
          <input class="my-2 form-control" type="number" placeholder="0.00" name="duration" id="duration" step="0.01" required>
          <label for="calories_burned">Calories Burned</label>
          <input class="my-2 form-control" type="number" placeholder="0000" name="calories_burned" id="calories_burned" required>
          <div id="insertExtra"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Log Exercise">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Schedule Workout Modal -->
<div id="ScheduleWorkoutModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Schedule Workout</h5>
      </div>
      <div class="modal-body">
        <form action="{% url 'hoosactive:schedule_workout' redirect %}" method="post">
          {% csrf_token %}
          <label for="description">Workout Name</label>
          <input class="my-2 form-control" placeholder='e.g. "1-Mile Run"' name="description" id="description" required>
          <label for="date">Timestamp</label>
          <input class="my-2 form-control" type="datetime-local" name="date" id="date" required>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Schedule">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
