{% extends "hoosactive/base.html" %}
{% block content %}
{% load static %}

<body style="background-color: #EEEEEE;">
  <div style="padding: 0 50px; margin-top: 50px;">

    <!-- Main Title Text -->
    <div style="font-size: 35px;">
      <text>Leaderboard{% if exercise %} for {{ exercise.name }} -
      {% if timeframe == "day" %}Daily{% endif %}
      {% if timeframe == "week" %}Weekly{% endif %}
      {% if timeframe == "month" %}Monthly{% endif %}
      {% endif %}
      </text>
    </div>

    <!-- Dropdown Menu -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Leaderboard
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for exer in exercise_list %}
        <a class="dropdown-item" href="/leaderboard/{{ exer.name }}/calories/{{ timeframe }}/all/">{{ exer.name }}</a>
        {% endfor %}
      </div>
    </div>

    <div style="margin-top: 50px;">
      <!-- Left Side -->
      <div style="display: inline-block; width: 200px; float: left;">
        <!-- Sort Options -->
        <div style="font-size: 24px; text-align: center; float: left; display: inline-block; width: 200px;">
          <div style="color: black; background-color: white;">
              <div class="bg-blue" style="padding: 10px; color: white;">Sort By</div>
              {% if exercise %}
              <div style="padding: 10px;">
                <a style="font-size: 24px;" class="btn login_btn" href="/leaderboard/{{ exercise.name }}/calories/{{ timeframe }}/{{ population }}/">Calories</a>
              </div>
              <div style="padding: 10px;">
                <a style="font-size: 24px;" class="btn login_btn" href="/leaderboard/{{ exercise.name }}/duration_hours/{{ timeframe }}/{{ population }}/">Total Hours</a>
              </div>
              <div style="padding: 10px;">
                <a style="font-size: 24px;" class="btn login_btn" href="/leaderboard/{{ exercise.name }}/extra/{{ timeframe }}/{{ population }}/">{{ extra_col_title }}</a>
              </div>
              {% endif %}
          </div>
          <div style="color: black; background-color: white; margin: 20px 0;">
              <div class="bg-blue" style="padding: 10px; color: white;">Timeframe</div>
              {% if exercise %}
              <div style="padding: 10px;">
                <a style="font-size: 24px;" class="btn login_btn" href="../../day/{{ population }}/">Day</a>
              </div>
              <div style="padding: 10px;">
                <a style="font-size: 24px;" class="btn login_btn" href="../../week/{{ population }}/">Week</a>
              </div>
              <div style="padding: 10px;">
                <a style="font-size: 24px;" class="btn login_btn" href="../../month/{{ population }}/">Month</a>
              </div>
              {% endif %}
          </div>
          <div style="color: black; background-color: white;">
              <div class="bg-blue" style="padding: 10px; color: white;">Filter By</div>
              {% if exercise %}
              <div style="padding: 10px;">
                <a style="font-size: 24px;" class="btn login_btn" href="../friends/">Friends</a>
              </div>
              <div style="padding: 10px;">
                <a style="font-size: 24px;" class="btn login_btn" href="../all/">All Users</a>
              </div>
              {% endif %}
          </div>
        </div>
      </div><!--
        Right Side
   --><div style="display: inline-block; width: calc(100% - 200px); padding-left: 80px; text-align: center;">
        <!-- Leaderboard -->
        <div style="float: left; font-size: 24px; width: 100%;">
          <div class="bg-blue" style="color: white; padding: 10px;">
            <div class="leaderboard-flex-table">
              {% if exercise %}
              <div>Username</div>
              <div>Location</div>
              <div>Calories Burned</div>
              <div>Total Hours</div>
              <div>{{ extra_col_title }}</div>
              {% else %}
              <div>​</div>
              {% endif %}
            </div>
          </div>
          {% for entry in entry_list %}
          <div class="bg-white" style="color: black; padding: 10px;">
            <div class="leaderboard-flex-table">
              <div>{{ entry.username }}</div>
              <div>{{ entry.city }}</div>
              <div>{{ entry.total_cals }}</div>
              <div>{{ entry.total_time }}</div>
              <div>{{ entry.total_extra }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
